// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body {
  padding-bottom: 80px;
  background-color: #FFF;
}

table.body {
  background: #FFF;
}

.logo {
  width: 250px;
}

.score {
  margin-left: 28px;
  text-indent: -28px;
  height: 18px;
  font-size: 12px;
}

.topline-scores {

  td {
    padding: 4px 8px;
    border: 1px solid #f1f1f1;
    border-bottom: 1px solid #404040;
    height: 33px;
    max-width: 40%;
    vertical-align: middle;
  }

  th {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 5px;
  }

}

.center {
  text-align: center;

  img {
    display: inline;
  }
}

.site-trend {
  width: 60%;
  text-align: center;
  float: left;

  h4 {
    text-align: left;
  }

  img {
    height: 350px;
    max-width: 100%;
  }

}

.site-score {
  width: 35%;
  margin-left: 5%;
  padding-bottom: 15px;
  float: left;

    img {
      width: 60%;
    }

    p {
      border-top: 1px solid #666;
      margin-bottom: 6px;
      margin-top: 16px;
      padding-top: 5px;
    }
}    

.card {
  width: 22%;
  padding: 2%;
  margin-right: 3%;
  margin-bottom: 5%;
  border-radius: 10x;
  font-size: 12px;
  float: left;
  box-shadow: 0 0 4px #CCCCCC;

 .left {
    width: 100%;
    float: left;
  }
  
 p { 
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .right {
    width: 100%;
    text-align: center;
    float: right;
  }
  
  .right img {
    max-width: 85%;
  }

}


@media only screen and (max-width: 768px) {
  body {
    padding: 30px;
  }

  .logo {
    width: 200px !important;
  }

  .topline-scores .score {
    width: 16px;
    height: 16px;
    border-radius: 10px;
  }
  .left, .right {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .card {
    width: 46%;
  }
}

hr {
  width: 100%;
  display: block;
  clear: both;
}