---
layout: index-layout
subject: Dashboard
---

<wrapper>

  <container>

    {{> page-header}}

  </container> 

  <container>

    {{> area-scores}}

  </container>

  <container>

    {{> site-trend}}

    {{> site-score}}
  
  </container>

  <container>

    {{> score-cards}}

  </container>

</wrapper>
