
<spacer size="8"></spacer>

<h4>Area Accessibility Scores by Percent Compliant</h4>

<table style="width:100%" class="topline-scores">
    <tr>
      <th></th>
      <th>Pages</th>
      <th>Desktop</th>
      <th>Mobile</th>
      <th>Overall</th>
    </tr>
    <tr>
      <td>Account</td>
      <td class="center">3</td>
      <td><div class="score">86</div></td>
      <td><div class="score">24</div></td>
      <td><div class="score">80</div></td>
    </tr>
    <tr>
      <td>Brand</td>
      <td class="center">6</td>
      <td><div class="score">86</div></td>
      <td><div class="score">75</div></td>
      <td><div class="score">65</div></td>
    </tr>
      <tr>
      <td>Browse - Furniture</td>
      <td class="center">4</td>
      <td><div class="score">24</div></td>
      <td><div class="score">88</div></td>
      <td><div class="score">80</div></td>
    </tr>
      <tr>
      <td>Browse- Housewares</td>
      <td class="center">3</td>
      <td><div class="score">86</div></td>
      <td><div class="score">24</div></td>
      <td><div class="score">24</div></td>
    </tr>
      <tr>
      <td>Gift Registry</td>
      <td class="center">5</td>
      <td><div class="score">75</div></td>
      <td><div class="score">65</div></td>
      <td><div class="score">80</div></td>
    </tr>
      <tr>
      <td>Checkout</td>
      <td class="center">6</td>
      <td><div class="score">13</div></td>
      <td><div class="score">24</div></td>
      <td><div class="score">78</div></td>
    </tr>
      <tr>
      <td>Customer Service</td>
      <td class="center">8</td>
      <td><div class="score">86</div></td>
      <td><div class="score">24</div></td>
      <td><div class="score">80</div></td>
    </tr>
    <tr>
      <td>Search</td>
      <td class="center">3</td>
      <td><div class="score">80</div></td>
      <td><div class="score">90</div></td>
      <td><div class="score">85</div></td>
    </tr>
    
  </table>
