
<spacer size="16"></spacer>

<row class="header">
    <columns small="12" class="logo-container">      
        <img class="logo" src="https://i.ibb.co/7gLBnkF/crateandbarrel-logo.png" alt="logo-crateandbarrel" border="0">
    </columns> 
 </row>
