<h4>Team Score Cards</h4>
<div class="card">
  <h6>Account</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Brand</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Furniture</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Housewares</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>
<div class="card">
  <h6>Gift Registry</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Checkout</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Customer Service</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>

<div class="card">
  <h6>Search</h6>
  <div class="left">Scan Date 7/15</div>
  <div class="right">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
  </div>
  <p>Desktop</p>
  <div class="score">86</div>
  <p>Mobile</p>
  <div class="score">76</div>
</div>