

<div class="site-score">

  <spacer size="16"></spacer>

    <h4>Overall Site Score</h4>
    <div class="center">
    <img src="https://i.ibb.co/sQgjZqg/gauge-dial.png" alt="gauge-dial" border="0">
    </div>
    <h5 class="center">84%</h5>
    <h6 class="center">Scan Date - 7/15/2020</h6>
    <p>WCAG2 A</p>
    <div class="score">86</div>
    <p>WCAG2 AA</p>
    <div class="score">76</div>
  </div>
  </div>